.about-bks{
    &__founder-img{
        width:500px;
        height:500px;
        margin:0 auto;
        padding-bottom:15px;
        max-width: 100%;
    }
    &__benjamin{
        width:500px;
        height:500px;
        border-radius: 250px;
        overflow: hidden;
        margin:0 auto;
    }
}