.scholarship{
    background-color:#FFF;
    padding-bottom:25px;
    p{
        color:#555;
    }
}



.bks{
    position: fixed;
    z-index: 90;
    background-color: rgba(255,255,255,.94);
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0;
    display: none;
    transform: scale(1.2);
    transition: all .3s ease-out;
    
    &__inner{
       width:100%;
      margin:2.8125rem auto;
          height:43.75rem;
        overflow: auto;
        
        @mixin atMedium{
           height: 56rem;
        }
    }
    
    &--is-visible{
        opacity: 1;
        display: block;
        transform: scale(1);
        display: block;
       
    }
    
     &__close{
         position: absolute;
        top:15px;
        right:15px;
        font-size:2rem;
        color:$mainBlue;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        cursor: pointer;
        
        &:hover{
            color:$mainOrange;
        }
    }

}