.btn{
    background-color:$mainBlue;
    color:#FFF;
    text-decoration: none;
    padding:.55rem 1rem;
    display: inline-block;
    cursor: pointer;
   
    &--orange{
        background-color:$mainOrange;
    }
    
    &--green{
        background-color:$mainGreen;
    }
    
     &--grown{
        background-color:$mainBrown;
    }
    
     &--purple{
        background-color:$brightPurple;
    }
    
    &--donate{
        background-color:transparent;
        padding:8px 0 0 0;
    }
    
    &--large{
        padding:1.1rem 1.9rem;
        
        @mixin atSmall{
            font-size:1.25rem;
        }
    }
}