.quick-access{
    background-color:#fef0d3;
    padding:15px 0;
    position: relative;
   h2{
        margin-top:0;
    }
    
    &__donate-content{
        background-color:$mainBrown;
    }
    
    &__scholarship-content{
        background-color:$mainBlue;
    }
    &__resource-center-project{
        background-color:$mainGreen;
    }
    &__connect-content{
        background-color:$mainOrange;
    }
}