.scholarship{
    background-color:#FFF;
    padding-bottom:25px;
    p{
        color:#555;
    }
     
    &__application{
        opacity: 0;
        display: none;
        transform: scale(1.2);
        transition: all .3s ease-out;
        }
       
    &__is-visible{
        margin-top:15px;    
       opacity: 1;
       display: block;
       transform: scale(1);  
    }
  
    
}