.social-icons {
    margin:0 auto;
    text-align: center;
    a {
        display: inline-block;
        font-size: 2rem;
        margin-right: .2rem;
        width: 36%;
        height: 60px;
        border: 2px solid #fff;
        padding: 10px 15px;
        margin-bottom: .6rem;
        
        &:hover {
            color:$mainBlue;
        }
        
         @mixin atSmall{
            width: 36%;
             padding:10px 15px;
        }
        
          @mixin atMedium{
            width:32%;
            padding:5px 15px;
            font-size:1.5rem;
              height:40px;
        }
        
        @mixin atLarge{
            padding:5px;
            height:40px;
            width: 26%;
        }
    
       
    }   
    
    &--white{
        a{
            color: #FFF;
        }
    }
}