ul.social-icons {
        list-style: none;
        text-align: center;
        width: 300px;
        margin: 0 auto;
        position: relative;
    
        li{
            float:left;
            margin-right:15px;
            text-align: center;
            padding: 10px;
             border:1px solid $mainBlue;
            float: left;
            width: 52px;
            height: 48px;
            margin-right: 25px;
            cursor: pointer;
            border-radius: 5px;
            font-size:1.5rem;
            a{
                color:$mainBlue;
            }
            
            &:hover{
              border:1px solid $darkOrange;
                a{
                    color:$darkOrange;
                }
            }
            
            &:last-child:{
                margin-right: 0;
            }
        }
    

}