
body{
  font-family:'Roboto', sans-serif;
  color:#333;
}

img{
  max-width: 100%;
  height:auto;
}

* {
    box-sizing: border-box;
}

a{
    color:$mainOrange;
    text-decoration: none;
}

button{
    border:0;
    
    &:active{
        outline:none;
    }
}

.warning{
    color:$darkOrange !important;
}

.small{
    font-size:.85rem;
}
