.events{
    ul{
        margin:0;
        padding:0;
        list-style: none;
        
        li{
            margin-bottom:1em;
            a{
                &:hover{
                color:$mainBlue;
                }
            }
        }
    }
    
     img{
        margin-bottom: 5px;
         border-radius: 5px;
    }
    
    &__upcoming-events{
        position: relative;
        
        &__big-date{
            background-color: $darkOrange;
            color: #FFF;
            position: absolute;
            padding: .625rem;
            top: .5rem;
            right: 3.5rem;
            font-size: 1.1rem;
            width: 3.3125rem;
            text-align: center;
            }

        &__small-date{
            color: #ccc;
            font-size: .75rem;
            margin-top: .2em;
            margin-bottom: .1em;
        }
        
        &__location{
            color: #ccc;
            font-size: .75rem;
            margin-top: .4em;
            margin-bottom: .2em;
        }
       
        
        &__title{
            text-transform: uppercase;
            color:$darkOrange;
            font-size:1rem;
            margin-top:.4rem;
            font-weight: 300;
        }
    }
}