.gallery{
   padding-bottom:45px;
   
    &__content{
        padding:15px 18px;
        background-color:$lightBlue;
        
        &__title{
            color:#666;
            margin-top:.3rem;
        }
    }
    
    &__resource-center-title{
        font-weight: 300;
        text-align: center;
        font-size:2rem;
        margin-bottom:.8rem;
        
    }
    
    &__images{
        @mixin atMedium{
            height: 300px;
            overflow-y: scroll;
        }
      
    }
    
   
    a img {
    float: left;
    margin-bottom:10px;
    margin-right:10px;
    width:20%;
    height:20%;
 }

@mixin atSmall{
   a img {
    float: left;
    margin-bottom:10px;
    margin-right:10px;
    width:100%;
    height:auto;
 }
}

@mixin atMedium{
    a img{
   width:100%
}
} 
}