.gallery{
   padding-bottom:45px;
   
    &__content{
        padding:15px 18px;
        background-color:$lightBlue;
        
        &__title{
            color:#666;
            margin-top:.3rem;
        }
        
        &__image{
            &:hover{
                opacity: .8;
                transition: all .3s ease-out;
            }
        }
    }
}