.large-hero{
  border-bottom:.125rem solid $mainGreen;
  position: relative;
    max-height: 25rem;
    overflow: hidden;

    @mixin atSmall{
         max-height: 25rem;
    }  
    
     @mixin atSmall{
         max-height: 43.75rem;
    } 
  &__container{
      padding-top:5.5rem;
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left: 0;
      /*transform: translateY(-50%);*/
      background-color: rgba(34,37,37,.6);
      @mixin atMedium{
        padding-top:3.75rem;
      }
      
      &__text-content{
          @mixin clearfix;
            width: 100%;
        
          @mixin atMedium{
            width: 55rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            margin-top: -7rem;
            left: 50%;
            transform: translateX(-50%);
          } 
          
        &__logo {
            margin-top:0;
            padding:0;
            transform: scale(.6);
            transition: all .3s ease-out;
            display: none;
            
            @mixin atMedium{
           
            }
            
            @mixin atLarge{
                transform: scale(1);
                float:left;
                border-right:.125rem solid $mainGreen;
                padding-right:2.1875rem;
                display: block;
            }
        }

      &__title{
            font-weight:300;
            color:#FFF;
            font-size:1.6rem;
            text-align: left;
       
         
          @mixin atMedium{
              font-size:3.5rem;
              font-weight: 700;
              margin: -1rem 0 .2rem 0;
          }

      }

      &__sub-title{
        font-weight:300;
        color:#FFF;;
        font-size:1.5rem;
        margin:.3rem 0 0 0;
        text-align: center;
        
        @mixin atMedium{
           font-size:2rem;
            text-align: left;
        }
      }

      &__description{
        color:#FFF;
            font-size:1.1rem;
            font-weight: 100;
            text-shadow: .125rem .125rem 0 rgba(0,0,0,.1);
            max-width:30rem;
            margin-left:auto;
            margin-right:auto;

            @mixin atSmall{
              font-size:1.875rem;
            }

          }

           &__btn {
               margin-top:1rem;
               padding:.8rem 2.5rem .8rem .8rem !important;
               text-align: center;
               color:#FFF;
               cursor: pointer;
               position: relative;
               left:30%;
               &:hover{
                   background-color:$mainBlue;
               }
               @mixin atMedium {
                   left:0;
    text-align: left;
                   transform: translateX(0);
               }
               
             
            
          }
          
          .fa-play {
               position: absolute;
               top:50%;
               transform: translateY(-50%);
               right:.6rem;
          }

        }

  }
    
    

  &__image{
    display: block;
  }

   

   
}

#large-hero__thumbnail{
    margin-top:-1.25rem;
    width:100%;
    margin-left:.05rem;
}