.large-hero{
  position: relative;
  border-bottom:10px solid $mainBlue;
    
    &__text-content{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left:0;
      width:100%;
      text-align: center;
      padding-top:120px;
    
        h2{
            font-size:1.6rem;
             color:$mainBlue;
        }
        
        @mixin atSmall{
             padding-top:10px;
           h2{
                font-size:3.5rem;
            } 
        }
        
        @mixin atMedium{
             padding-top:60px;
            
             h2{
                font-size:4.8rem;
            }
        }
    }
    
    
    
    &__image{
        display: block;
    }
    
    &__title { 
        font-weight: 700;
        color:$mainBlue;
        font-size:1.5rem;
        margin:0;
        text-shadow: 2px 2px 0 rgba(0,0,0,.01);
       
        @mixin atSmall{
            font-size:2rem;
        }
        
        @mixin atMedium{
            font-size:4.8rem;
        }
        
    }
    
    &__subtitle{
        font-weight: 300;
        color:$mainBlue;
        font-size:1.5rem;
        margin:0;
        text-shadow: 2px 2px 0 rgba(0,0,0,.02);
        
        @mixin atSmall{
            font-size:2.9rem;
        }
    }
    &__description{
        color:#FFF;
        font-size:1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0,0,0,.2);
        max-width: 30rem;
        margin-left:auto;
        margin-right:auto;
        @mixin atSmall{
            font-size:1.5rem;
        }
    }
    
    p{
        margin-bottom:40px;
        margin-top:0;
        
        @mixin atSmall{
            margin-bottom:auto;
            margin-top:auto;
        }
    }
}

