.primary-nav{
   
    padding-top:10px;
    @mixin atLarge{
        padding-top:0;
    }
    &--pull-right{
        
        @mixin atLarge{
             float: right;
        }
    }
    
    ul {
        margin:-100px 0 0 0;
        padding:0;
        @mixin clearfix;
        @mixin atLarge{
            margin:0;
        }
        
    }
    
    li {
        list-style: none;
        display: inline-block;
        padding-right:7px;
         
        @mixin atLarge{
            padding-right:20px;
             float: left;
            display: block;
        }
    }
    
    li:last-child{
        padding-right:0;
        @mixin atLarge{
             padding-right:20px;
        }
    }
    
    a {
        color:#FFF;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 8px 10px;
        font-size:.85rem;
        background-color:rgba(47,85,114, .8);
        margin-bottom:10px;
        
        @mixin atLarge{
            font-size:1rem;
             padding:9px 0;
            background-color: transparent;
            margin-bottom:0;
            
            &.is-current-link{
                color:$mainOrange;
            }
        }
        
        &:hover{
            color:$mainOrange;
        }
    }
    
    
    
    
}